<!--//Maria Waleska Marinho de Oliveira 
//Student Number : 8751749
//email: mmarinhodeoliver1749@conestogac.on.ca
//PROG2230  Sec 4


Here I added the link to the student list

-->

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p>See all the <a asp-controller="Students" asp-action="List">Students</a>.</p>
</div>
